.jumbotron {
    background-color: coral;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: cornsilk;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width:  100%;
    border-radius: 2px;
}

.footer-address-icon{
    padding-top: 10px;
}

.tab-content {
    padding-top: 10px;
}