$yellow: #ffffff;
@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
    
}

.jumbotron {
    background-color: $yellow;
    color: black;
    //margin-top: 50px;
    @include margenes(50px, 0px)
}

footer{
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-hotel {
    flex: 1 200px;
    //margin-top: 10px;
    @include margenes(10px, 0px)
}

.btn-reserva{
    width:  100%;
    border-radius: 2px;
}

.footer-address-icon{
    padding-top: 10px;
}

.tab-content {
    padding-top: 10px;
}