@green: #2d5666;

.margenes(@top: 2px, @bottom: 10px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @green;
    color: black;
    .margenes(50px, 0px) //less
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @green;
    .margenes(10px, 0px) //less
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width:  100%;
    border-radius: 2px;
}

.footer-address-icon{
    padding-top: 10px;
}

.tab-content {
    padding-top: 10px;
}